*,
*:before,
*:after{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #000022;
  overflow: hidden;
  margin: 0;
}

.snow {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width: 120%;
  height: 100%;
  pointer-events: none;
  animation: snow-direction cubic-bezier(0.445, 0, 0.55, 1) 4s both alternate infinite;
}

@keyframes snow-direction {
  from {
    transform: translateX(-10%);
  }
  to {
    transform: translateX(10%);
  }
}

.snow:before,
.snow:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
  filter: blur(1px);
  animation: snow 10s linear infinite;
  box-shadow:
    -5vw 10vh #fff,
    30vw 5vh #fff,
    55vw 5vh #fff,
    75vw 10vh #fff,
    105vw 15vh #fff,
    -10vw 30vh #fff,
    40vw 25vh #fff,
    60vw 20vh #fff,
    90vw 25vh #fff,
    20vw 40vh #fff,
    5vw 45vh #fff,
    65vw 45vh #fff,
    105vw 40vh #fff,
    50vw 50vh #fff,    
    30vw 50vh #fff,
    10vw 55vh #fff,
    20vw 60vh #fff,
    40vw 65vh #fff,
    60vw 60vh #fff,
    80vw 65vh #fff,
    5vw 70vh #fff,
    30vw 75vh #fff,
    55vw 85vh #fff,
    75vw 80vh #fff,
    105vw 75vh #fff,
    20vw 90vh #fff,
    -5vw 95vh #fff,
    65vw 95vh #fff,
    100vw 90vh #fff,
    
    -5vw 110vh #fff,
    30vw 105vh #fff,
    55vw 105vh #fff,
    75vw 110vh #fff,
    105vw 115vh #fff,
    -10vw 130vh #fff,
    40vw 125vh #fff,
    60vw 120vh #fff,
    90vw 125vh #fff,
    20vw 140vh #fff,
    5vw 145vh #fff,
    65vw 145vh #fff,
    105vw 140vh #fff,
    50vw 150vh #fff,    
    30vw 150vh #fff,
    10vw 155vh #fff,
    20vw 160vh #fff,
    40vw 165vh #fff,
    60vw 160vh #fff,
    80vw 165vh #fff,
    5vw 170vh #fff,
    30vw 175vh #fff,
    55vw 185vh #fff,
    75vw 180vh #fff,
    105vw 175vh #fff,
    20vw 190vh #fff,
    -5vw 195vh #fff,
    65vw 195vh #fff,
    100vw 190vh #fff;
}

.snow:after {
  left: 50px;
  top: 60px;
  animation-duration: 6s;
  width: 8px;
  height: 8px;
  opacity: 0.7;
  filter: blur(3px);
}

@keyframes snow {
  from {
    transform: rotate(10deg) translateY(-100vh);
  }
  to {
    transform: rotate(10deg) translateY(0);
  }
}

.card{
  height: 400px;
  width: 570px;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  cursor: pointer;
  transition: 2s;
  -webkit-perspective: 1200px;
  perspective: 1200px;

}
.card:hover{
  transform: rotate(-5deg);
}
.card:hover .outside{
  transform: rotateY(-130deg);
}
.outside{
  height: 100%;
  width: 50%;
  position: absolute;
  left: 50.1%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: 2s;
  transform-origin: left;
}
.front,.back{
  height: 100%;
  width: 100%;
  position: absolute;  
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  /*hide backface in firefox*/
  transform: rotateX(0deg);   
}
.front{
  background-color: #BE0F04;
  z-index: 1;
}
.front:before{
  content: "";
  position: absolute;
  background-color: #101010;
  height: 80px;
  width: 100%;
  top: 240px;
}
.belt{
  height: 120px;
  width: 120px;
  border: 20px solid #E5A037;
  border-radius: 10px;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 220px;
  z-index: 1;
}
.belt:after{
  content: "";
  position: absolute;
  width: 95px;
  height: 18px;
  background-color: #d6932e;
  top: 31px;
  right: 13px;
  border-radius: 8px;
}
.mouth{
  position: absolute;
  background-color: #EFBEAB;
  height: 50px ;
  width: 80px;
  z-index: 1;
  border-radius: 0 0 50% 50%;
  margin: auto;
  left: 0;
  right: 0;
  top: 20px;
}
.beard{
  background-color: #f5f5f5;
  position: absolute;
  width: 100%;
  height: 180px;
  border-radius: 0 0 50% 50%;
}
.beard:before,
.beard:after{
  position: absolute;
  content: "";
  width: 130px;
  height: 50px;
  background-color: #f5f5f5;
  box-shadow: 0 10px #d3d3d3;
  border-radius: 0 0 50% 50%;
  top: -0px;
  z-index: 2;
}
.beard:before{
  left: 13px;
}
.beard:after{
  right: 13px;
}
.back{
  background: linear-gradient(
    to right,
    #BE0F04 50%,
    #7d0b03
  );
  transform: rotateY(180deg);
}
.inside{
  height: 100%;
  width: 50%;
  position: absolute;
  left: 50%;
  background: linear-gradient(
    to left,
    #BE0F04 50%,
    #7d0b03
  );
  /* font-family: 'Parisienne', cursive; */
  color: white;
  font-size: 24px;
  text-align: center;
/*   line-height: 100px; */
  padding: 90px 10px;
  box-shadow: 25px 25px 35px rgba(0,0,0,0.3);
}
.inside>p{
  border-bottom: 10px dotted white;
}
a{
    color: #ffffff;
    font-family: "Poppins",sans-serif;
    font-weight: 500;
    position:absolute;
    right:20px ;
    top:20px;
    border:3px solid #ffffff;
    border-radius: 5px;
    text-decoration:none;
}
a>.fa{
  color: #FF0000;
}
@media screen and (min-width: 451px) {
  a{
    font-size: 18px;
     padding:8px 12px 8px 12px;
  }
}

@media screen and (max-width: 450px) {
  a{
    font-size: 12px;
     padding:5px 8px 5px 8px;
  }
}